<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>端到端网络切片管理平台</title>
    <link href="../styles/common.css" rel="stylesheet">
    <link href="../styles/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/bootstrap-table.css" rel="stylesheet">
    <link href="../styles/pagination.css" rel="stylesheet">
    <script src="../scripts/Plugin/jquery-3.3.1.min.js"></script>
    <script src="../scripts/Plugin/echarts.min.js"></script>
    <script src="../scripts/Plugin/jquery.pagination.min.js"></script>
    <script src="../scripts/common.js"></script>
    <script src="../scripts/chronic.js"></script>
</head>
<body>
<!--顶部-->
<header class="header left">
    <div class="left nav">
        <ul>
            <li><i class="nav_1"></i><a href="index.html">平台概况</a> </li>
            <li class="nav_active"><i class="nav_2"></i><a href="chronic.html">切片详情</a> </li>
            <li><i class="nav_3"></i><a href="trend.html">切片创建</a> </li>
            <li><i class="nav_4"></i><a href="trend.html">故障监析</a> </li>
          </ul>
    </div>
    <div class="header_center left" style="position:relative">
        <h2><strong>端到端网络切片管理平台</strong></h2>

    </div>
    <div class="right nav text_right">
        <ul>

        </ul>
    </div>

</header>
<!--内容部分-->
<div class="con left" style="width: 98%;margin-left: 1%;margin-bottom: 25px;">

    <input type="text" placeholder="请输入切片名字" style="width: 180px;height: 28px;border-radius: 3px;text-indent: 1em;border: 1px solid#4b8df8;color: #fff;" /><button class="btn btn-primary btn-sm" style="margin-left:20px"><span class="glyphicon glyphicon-search"></span>查询</button>

    <div class="div_any_child">
          <div class="table_p" style="height: 36%;margin-top: 20px;">
              <table>
                  <thead><tr>
                      <th>序号</th>
                      <th>名字</th>
                      <th>业务</th>
                      <th>详情</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr><td>1</td><td>切片1</td><td>视频</td><td><a href="quota.html"><button class="btn btn-primary btn-sm">查看</button></a></td></tr>
                  <tr><td>2</td><td>切片2</td><td>图片</td><td><a href="quota.html"><button class="btn btn-primary btn-sm">查看</button></a></td></tr>
                  </tbody>
              </table>
          </div>

        </div>


    </div>
</div>
</body>
</html>
